---
layout: default
---

## PUBLICATIONS
Google Scholar | ORCiD Profile

*Published*
1. Chen, D., O’Callahan, A., & Garrett-Kluthe, B. (2023). Immigrant foodways in Jersey City, NJ, Food, Culture & Society, 26:2, 387-408. DOI: 10.1080/15528014.2021.2000700


*In Preparation / In review*
2.	St. Rose A., O’Callahan A., Smith H., Muniyasamy A., Dunn III J. E., Bradford J., and Naithani K. (2023). A Comprehensive Review and Synthesis of Diversity Indices and Their Use in Ecology. In preparation.
1.	O’Callahan, A. & Naithani, K. (2023). Continental scale drivers of microbial biomass and community composition. In preparation.

*Non-refereed*
5. O’Callahan, A. (2023). “The Aesthetics of Collapse.” Roots Magazine, edited by Amelia Southern Uribe. Issue 01. Zero Hour Arkansas, pp 22. News article; editor interview.
4. O’Callahan, A. (2020). “Life Under a Log.” The Green Oasis: Official Newsletter of Liberty State Park, edited Lori Garth. Published by NJDEP. pp 3.
3. O’Callahan, A. (2019). Why “Save the Whales”?: An Examination of the Philosophical Justifications of Conservation Biology. Saint Peter’s University Undergraduate Honors Thesis. Repository Link.
2. O’Callahan, A. (2018). “Hudson County’s Third Annual Shooting Bee.” Megazine, edited by Meghan Ianiro. Issue 03, pp. 38-41. Literary magazine link.
1. O’Callahan, A. (2017). “What Does Jersey City Mean to You?” The Pavan, edited by Gabby Robles. pp. 39-42. Literary magazine link.
